@font-face {
    font-family: 'SF UI Text Regular';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Regular'), url('./fonts/SFUIText-Regular.woff') format('woff');
}

body {
    margin: 0;
    height: 100vh;
    background: #000;
    font-family: "SF UI Text Regular";
    font-style: normal;
    font-weight: normal;
    overflow: hidden;
    position: relative;
}

@media screen and (max-height: 900px) {
    body {
        margin: 0;
        background: #000;
        height: 100%;
        font-family: "SF UI Text Regular";
        font-style: normal;
        font-weight: normal;
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
    }

    .second-page {
        height: 100% !important;
    }

    .second-page > .less-head-title {
        display: block !important;
    }
}
p {
    position: absolute;
    bottom: 0;
    color: #FFF;
    left: 0;
    font-size: 10px;
}

.main-page,
.second-page {
    transition: 0.5s;
    height: 100vh;
    background: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    z-index: 0;
    margin-bottom: 0px;
    margin-top: 0px;
}

.page-slider {
    top: 50vh;
    position: absolute;
    color: #000;
    font-size: 13px;
    line-height: 6.5px;
    margin-left: 20px;
}

.page-slider>.item {
    display: flex;
    margin-bottom: 20px;
}

.page-slider>.item>.button-slider {
    transition: 0.5s;
    background: #FFF;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    border: solid 2px #000;
    margin-right: 10px;
}

.page-slider>.item>.active-button {
    background: #000;
}


.second-page > .less-head-title {
    display: flex;
    transition: 0.5s;
    font-size: 14px;
    text-align: center;
    color: #000000;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 137px;
}

.second-page > .second-head-title {
    transition: 0.5s;
    margin-top: 134px;
    font-size: 72px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.hideT {
    animation: HideT 0.5s normal forwards ease-in-out;
}
.showT {
    animation: ShowT 0.5s normal forwards ease-in-out;
}

@keyframes HideT {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@keyframes ShowT {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.activate-1 {
    animation: Activate1 0.4s normal forwards ease-in-out;
}

@keyframes Activate1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-45deg);
        transform-origin: 96% 18%;
    }

}

.activate-3 {
    animation: Activate3 0.4s normal forwards ease-in-out;
}

@keyframes Activate3 {
    0% {
        transform: translateY(0) rotate(0);
        transform-origin: 80% 80%;
    }

    100% {
        transform: translateY(-15px) rotate(45deg);
        transform-origin: 50% 100%;
    }

}

.deactivate-1 {
    animation: Deactivate1 0.4s normal forwards ease-in-out;
}

@keyframes Deactivate1 {
    0% {
        transform: rotate(-45deg);
        transform-origin: 96% 18%;
    }

    100% {
        transform: translateY(0) rotate(0);
    }

}

.deactivate-3 {
    animation: Deactivate3 0.4s normal forwards ease-in-out;
}

@keyframes Deactivate3 {
    0% {
        transform: translateY(-15px) rotate(45deg);
        transform-origin: 50% 100%;
    }

    100% {
        transform: translateY(0) rotate(0);
    }

}

.show-page {
    animation: ShowPage 0.4s normal forwards ease-in-out;
}


@keyframes ShowPage {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 100%;
    }

}

.hide-page {
    animation: HidePage 0.4s normal forwards ease-in-out;
}


@keyframes HidePage {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-100vh);
    }

}

.second-page>.title {
    z-index: 1;
    user-select: none;
    color: #fff;
    font-size: 72px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -5px 5px 1px rgba(0, 0, 0, 0.25);
}

.second-page>.button-open-menu {
    z-index: 1;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;
}

.second-page>.button-open-menu>.button {
    z-index: 2;
    transition: 0.5s;
}

.ball-deactivate {
    position: absolute;
    animation: DeactivateBall 1s normal forwards ease-in-out;
    background: #fff;
    border-radius: 50%;
    width: 1px;
    height: 1px;
    top: 10px;
    right: 10px;
}


@keyframes DeactivateBall {
    0% {
        border-radius: 50%;
        transform: scale(5000);
    }

    100% {
        border-radius: 50%;
        transform: scale(0);
    }

}

.ball-activated {
    position: absolute;
    animation: ActivateBall 1s normal forwards ease-in-out;
    background: #fff;
    border-radius: 50%;
    z-index: -1;
    top: 10px;
    right: 10px;
    width: 1px;
    height: 1px;
}


@keyframes ActivateBall {
    0% {
        border-radius: 50%;
        transform: scale(0);
    }

    100% {
        border-radius: 50%;
        transform: scale(10000);
    }

}

.main-page>.hover-title {
    z-index: 1;
    margin: auto;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #E3E3E3;
}

.main-page>.title {
    z-index: 1;
    user-select: none;
    color: #fff;
    font-size: 72px;
    margin: auto;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -5px 5px 1px rgba(0, 0, 0, 0.25);
}